.room {
  border: 1px solid rgb(35, 99, 196);
  border-radius: 15px;
  padding: 20px;
  width: 200px;
}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Products {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.full {
  border: 1px solid red;
}
